@page "/counter"
@using CineTix.Server.Models;
@using CineTix.Server.Services;
@using CineTix.Server.CQRS.Query;
@inject IMoviesServices MoviesService;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


@code {
	public GetMovies.Response response { get; set; }

	protected override async Task OnInitializedAsync()
	{
		response = await MoviesService.GetAllMovies();
		Console.WriteLine("====================" + response.res);
	}
}
